:root{
--white: hsl(0, 0%, 100%);
--light-gray: hsl(212, 45%, 89%);
--grayish-blue: hsl(220, 15%, 55%);
--dark-blue: hsl(218, 44%, 22%);
}
@font-face {
    font-family: Regular;
    src: url(font/Outfit-Regular.ttf);
}
@font-face {
    font-family: Bold;
    src: url(font/Outfit-Bold.ttf);
}
*{
    margin:0;
    padding:0;
    box-sizing: border-box;
}
body{
    background: var(--light-gray);
    display:flex;
    flex-direction:column;
    justify-content: center;
    align-items: center;
}
.container{
    background-color:var(--white);
    width: 300px;
    margin: 2rem;
    padding: 0.1rem;
    border-radius: 1rem;
    padding-bottom: 2rem;
}
img{
    max-width: 100%;
    padding: 18px;
    border-radius: 2rem;
}
h2{
    font-family: Bold,sans-serif;
    text-align: center;
    color:var(--dark-blue);
    font-size: 22px;
}
.container p{
    color:var(--grayish-blue);
    text-align: center;
    font-family: Regular,sans-serif;
    font-size: 15px;
    padding: 25px;
}
p{
    font-size: 11px;
    text-align:center;
    
}
